<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         #NavbarHeader{
            color: blue;
            font-size: xx-large;
        }

        #home{
            color: black;
            font-size: x-large;
        }

        #icon{
            color: blue;
            width: 40px;
            height: 40px;
        }

        .sidenav {
            width: 250px;
            background-color:rgb(239, 238, 238);
            color: #fff;
            padding: 30px;
            height: 100vh; /* Sayfa yüksekliğini 100% olarak ayarlar */
            position: absolute; /* Sayfanın kaydırılmasına bağlı olarak sabit kalmasını sağlar */
            left: 0; /* Sayfanın solundan başlamasını sağlar */
        }

        .element {
        position: absolute; /* veya relative veya fixed */
        top: 170px;
        }

        .album-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            height: 90vh;
            margin:0 auto ;
            max-width: 900px;    
        }
        .album-container i  /*folder-file icon*/
        {
            font-size:180px;
            margin: 10px;
            color: dark;
        }
        .album-container a /*folder-file title*/
        {
            font-size:18px;
            color: black;
            font-weight: bold;
        }
        .album-container .card
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
        }

        .trash-icon{
            color: darkred;
            margin-left: 25px;
            justify-self: left
            
        }

        .modal-title{
            color: black;
        }

    </style>
    <title>ANA SAYFA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" id="NavbarHeader" href="{% url 'home' path=path %}">KTUcloud</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container-fluid">
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="cloud'da arayın">
                      <button class="btn btn-outline-success" type="submit">Araştır</button>
                    </form>
                </div>
                <a href="/website_app/profile" class="icon-link">
                    <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                </a>
            </div>
            </div>
        </nav>
    </header>

    <div class="sidenav"> 
        <button id="createFolderBtn" class="btn btn-light btn-lg" data-toggle="modal" data-target="#myModal">+ Klasör</button>
        <p id="resultMessage"></p>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">Klasör Oluştur</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal Body -->
            <form id="addingDirForm" action="{% url 'adding-folder' path=path %}" method="POST" >
            {% csrf_token %}  
                <div class="modal-body">
                    <input type="text" class="form-control" id="folderName" name="folderName" placeholder="Klasör Adını giriniz:">
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="adding-folder" class="btn btn-success" name="adding-folder" value="adding-folder">Oluştur</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <button class="btn btn-light btn-lg" data-toggle="modal" data-target="#FileUploadModal">+ Dosya</button>
        <!-- Bootstrap Modal -->                          
        <div class="modal fade" id="FileUploadModal" tabindex="-1" role="dialog" aria-labelledby="FileUploadModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="FileUploadModal">Dosya Yükle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'upload-file' path=path %}" method="POST" >
                {% csrf_token %}
                <div class="modal-body">
                        <div class="mb-3 form-items">
                            <label for="name" class="form-label">Dosya İsmi: </label>
                            {{ uploadForm.name }}
                        </div>
                
                        <div class="mb-3 form-items">
                            <label for="" class="form-label">Dosya Tipi:</label>
                            {{ uploadForm.file_type }}
                        </div>
            
                        <div class="mb-3 form-items">
                            <label for="" class="form-label">Şifreleme Türü:</label>
                            {{ uploadForm.encrypt_type }}
                        </div>
                
                        <div class="mb-3 form-items">
                            <label for="" class="form-label">Dosyayı Seçin:</label>
                            {{ uploadForm.file }}
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                    <button type="upload-file" class="btn btn-primary">Yükle</button>
                </div>
            </form>
            </div>
        </div>
    </div>
      
        <div class="element">
            <ul>
            <li><a href="{% url 'home' path=path %}"  class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                  </svg>  Anasayfa
            </a></li>
            <li><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                  </svg> Yıldızlı</a></li>
            <li><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                </svg> Çöp Kutusu</a></li>
            </ul>
        </div>
    </div>

    <div class="album-container">
        <div class="row row-cols-1 row-cols-md-4 g-5">
            {% if folders %}
            {% for folder in folders %}
            <div class="col">
              <div class="card">
                <i class="fa fa-folder folder-icon"></i>
                <div class="card-body">
                    <a href="{% url 'subfolder' path=path id=folder.id %}"> 
                    {{folder.name}}
                    </a>
                    <a class="fa fa-trash trash-icon" style="justify-self: left; color: red;" data-toggle="modal" data-target="#deletetionModal-{{folder.id}}"></a>
                     <!-- Bootstrap Modal -->                          
                     <div class="modal fade" id="deletetionModal-{{folder.id}}" tabindex="-1" role="dialog" aria-labelledby="deletetionModalLabel-{{folder.id}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!-- <h5 class="modal-title" id="deletetionModalLabel-{{folder.id}}">Confirm Deletion</h5> -->
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bu klasörü silmek istediğinize emin misiniz? Klasörü sildiğiniz takdirde bu klasör altındaki diğer klasör ve dosyalarında silineceğini unutmayın.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                                    
                                    <form id="deleteForm" action="{% url 'deleteFolder' path=path id=folder.id %}" method="POST">
                                      {% csrf_token %}
                                      <button class="btn btn-danger" type="submit" name="deletetion_process" value="delete_game">Sil</button>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
    </div>
    <!-- 
        "fa fa-file-pdf-o" pdf icon
        "fa fa-file-word-o" word icon
        "fa fa-file-word-o" txt icon 
        "fa fa-file-image-o" jpeg icon
     -->
    <div class="file-container">
        <p>file-container</p>
        <div class="row row-cols-1 row-cols-md-4 g-5">
            {% if files %}
            {% for file in files %}
            <div class="col">
              <div class="card">
                {% if file.file_type == pdf %}
                <i class="fa fa-file-pdf-o folder-icon"></i>
                {% elif file.file_type == word %}
                <i class="fa fa-file-word-o folder-icon"></i>
                {% elif file.file_type == txt %}
                <i class="fa fa-file-word-o folder-icon"></i>
                {% else %}
                <i class="fa fa-file-image-o folder-icon"></i>
                {% endif %}

                <div class="card-body">
                    <a href="#"> 
                    {{file.name}}
                    </a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>
       
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>